.articles
  .articles__text
    .image
      = link_to note_path(note) do
        - if note.title_image.present?
          = image_tag note.title_image
    .title
      = link_to note_path(note) do
        - if note.title.present?
          = note.title
  .articles__author
    %ul
      %li.author-image
        = image_tag "default_author.png"
      %li.author-detail
        %p.author-detail__name
          - if note.user.nickname.present?
            = note.user.nickname
        %p.author-detail__date
          - if note.created_at.present?
            = note.created_at.in_time_zone('Tokyo').to_s
  .articles__text
    .body
      - if note.body.present?
        = simple_format(note.body)
  .articles__info
    %ul
      %li.articles__info__likes
        %i.fa.fa-heart-o
      %li.articles__info__likes-count
        %p
          10
      %li.articles__info__share
        %i.fa.fa-share
      %li.articles__info__add-magazine
        %i.fa.fa-plus
    %p.add-comment
      コメントする
