.wrapper-new
  .header-new
    .header-new__inner
      .header-new__inner__logo
        = link_to root_path do
          = image_tag "title-logo-simple.png"
      .account-menu
        %ul
          %li
            .account-menu__btn
              %button
                %p
                  公開設定
          %li
            .account-menu__btn
              %button
                %p
                  キャンセル
  .post-new
    .editor
      = form_for @post do |f|
        .editor__title-image
          = f.label :title_image, class: "choose-title-image" do
            %i.fa.fa-image.fa-fw
            = f.file_field :title_image ,class: "choose-title-image__hidden"
        .editor__title
          = f.text_field :title, class: "edit-title", placeholder: "ノートタイトル"
        .editor__article
          = f.text_field :body, class: "edit-body"
          = f.submit "Send"
