= form_for @post do |f|
  .wrapper-new
    .header-new
      .header-new__inner
        .header-new__inner__logo
          = link_to root_path do
            = image_tag "title-logo-simple.png"
        .account-menu
          %ul
            %li
              %p.configure-post
                公開設定
            %li
              = link_to root_path do
                %p.configure-cancel
                  キャンセル
    .post-new
      .editor
        .editor__title-image
          = f.label :title_image, class: "choose-title-image" do
            .fa.fa-image.fa-fw
              = f.file_field :title_image ,class: "choose-title-image__hidden"
        .editor__title
          = f.text_field :title, class: "edit-title", placeholder: "ノートタイトル"
        .editor__body
          = f.text_area :body, class: "edit-body", placeholder: "ノート本文"
    .configure-purchase-overlay
      .configure-purchase
        .configure-purchase__header
          公開設定
        .configure-purchase__body
          .configure-purchase__body__top
            %ul.purchase-type-list
              %li
                %p
                  販売設定
              %li
                .checkbox
                  = radio_button_tag :check, "1"
                  無料
              %li
                .checkbox
                  = radio_button_tag :check, "2"
                  有料
          .configure-purchase__body__middle
            .configure-purchase__body__middle__inner
              %ul
                -# %li
                -#   %i.fa.fa-caret-right
                -# %li
                -#   %p.detail-configure
                -#     詳細設定
                %li
                  %p
                    -# (ハッシュタグ、マガジン)
                    %ul#note-tags
          .configure-purchase__body__notice
            %p
              販売価格は100円〜10,000円まで設定できます。
        .configure-purchase__body__bottom
          .post-btn
            .post-btn__cancel
              キャンセル
          .post-btn
            = f.submit "公開", class: "post-btn__post"
