.header
  .header__top
    .header__top__title
      = link_to root_path do
        = image_tag "title-logo.png"
    %ul.header__top__info
      -if user_signed_in?
        %li
          .logout
            -# = link_to destroy_user_session_path do
            = link_to destroy_user_session_path, method: :delete do
              ログアウト
          .search
            %i.fa.fa-search.fa-fw
          .announce
            %i.fa.fa-bell-o.fa-fw
          = link_to user_path(current_user), class: "current_user_page" do
            .mypage
              = image_tag "default_author.png"
          = link_to new_note_path do
            .contribution
              %i.fa.fa-pencil-square-o
                %span
                  ノートを投稿
      -else
        %li.user-account
          = link_to new_user_session_path do
            .sign-in
              ログイン
          .user-account__separator
            \/
          = link_to new_user_registration_path do
            .sign-up
              新規登録
          .search
            %i.fa.fa-search.fa-fw
